.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  background-color: dodgerblue;
}

.nav a {
  padding: 10px 30px;
  background-color: #1e90ff;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 700;
  color: floralwhite;
}

.nav a:not(:last-child) {
  margin-right: 30px;
}

.nav a:hover {
  text-decoration: underline;
}
